.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FCFCFC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item{
  margin-right: 20px;
  font-weight: bold;
}
.nav-link{
  font-weight: bold !important;
}
.nav-item:hover {
  border-bottom: 2px solid black; /* Adjust the color and thickness as needed */
}

.background-image {
  background-image: url('./images/background.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensure the image covers the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100vh; /* Set the height to cover the viewport */
  width: 100%; /* Set the width to cover the entire div */
}

.Service-Background {
  position: relative;
  height: 100vh; /* Set the height to cover the viewport */
  width: 100%; /* Set the width to cover the entire div */
  overflow: hidden; /* Ensure content doesn't overflow */
}

.Service-Background::before {
  content: "";
  background-image: url('./images/service-bck.png'); /* Replace with the path to your image */
  background-size: cover; /* Ensure the image covers the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3; /* 50% transparent */
  z-index: 1; /* Ensure it is behind the content */
}

.middle-h1 {
  position: relative;
  z-index: 2; /* Ensure it is above the background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure the div takes the full height of its parent */
  color: black !important;
  opacity: 1 !important; /* Ensure full opacity */
}

.fixed-bottom-button {
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  justify-content: center;
  font-weight: bold !important;
  transform: translateX(-50%)
}

.arrow-down {
  position: relative;
  bottom: 45%; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  width: 80px;
  height: 80px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0) rotate(-45deg);
  }
  40% {
    transform: translateX(-50%) translateY(-10px) rotate(-45deg);
  }
  60% {
    transform: translateX(-50%) translateY(-5px) rotate(-45deg);
  }
}
.two-column-layout {
  display: flex;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}


.column-left {
  flex: 0 0 70%; /* Left column takes up half the space of the right column */
  background-color: #e9ecef; /* Slightly darker background for the left column */
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.column-right {
  flex: 0 0 30%; /* Right column takes up twice the space of the left column */
  background-color: #f8f9fa; /* Light background for the right column */
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-right img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire column */
}

.studio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
  width: 100vw; /* Adjust the width as needed */
  margin: auto; /* Center the container horizontally */
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  margin-bottom: 0.5%;
  position: relative;
}

.Studios-header{
  background-color: #e9ecef;
}

.fixed-top-left-box {
  position: absolute;
  top: 10%; /* Adjust the distance from the top as needed */
  left: 8%; /* Adjust the distance from the left as needed */
  background-color: white; /* Optional background color with transparency */
  padding: 10px; /* Optional padding */
  border-radius: 5px; /* Optional border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional box shadow */
  z-index: 1; /* Ensure it is above the content */
}

.studio-container:hover{
  opacity: 0.9;
}

.App-booking {
  position: relative; /* Make this container the reference for the pseudo-element */
  background-color: #e9ecef;
}

.App-booking::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/booking-bck.png'); /* Replace with your image path */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  opacity: 0.3; /* Adjust the opacity as needed */
  z-index: 0; /* Ensure it is behind the content */
}

.booking-box {
  position: relative; /* Ensure it is above the pseudo-element */
  width: 55vw;
  background-color: #FCFCFC;
  margin: 2%;
  border-radius: 15px;
  z-index: 1; /* Ensure it is above the pseudo-element */
  opacity: 1; /* Ensure full opacity */
}